"venv/" 
"__pycache__/" 
"*.log" 
"*.pyc" 
"Application Data/" 
"Cookies/" 
"Local Settings/" 
"My Documents/" 
"NetHood/" 
"PrintHood/" 
"Recent/" 
"SendTo/" 
"Start Menu/" 
"Templates/" 
